<div>
    <!-- Carousel -->
    <div id="carousel"></div>
    <hr>
    <!--What you see what you get-->
    <div class="item row clearfix">
        <div class="main col-md-12 pull-left">
            <textarea ui-tinymce="ContentHome.bodyWYSIWYGOptions" class="form-control"
                      rows="3" col="100"
                      placeholder="This is WYSIWYG"
                      data-ng-model="ContentHome.data.content.description"></textarea>
        </div>
    </div>
    <hr>
    <!--Checkboxes-->
    <div>
        <input type="checkbox" ng-model="flag.allMatches" ng-checked = "flag.allMatches">All Matches <br>
        <input type="checkbox" ng-model="flag.resultsByCountryCode" ng-checked = "flag.resultsByCountryCode">Results By Country Code <br>
        <input type="checkbox" ng-model="flag.teamResults" ng-checked = "flag.teamResults">Team Results <br>
        <input type="checkbox" ng-model="flag.groupResults" ng-checked = "flag.groupResults">Group Results <br>
        <input type="checkbox" ng-model="flag.teams" ng-checked = "flag.teams">Teams <br>
        <input type="submit" ng-click="saveFlags()">
    </div>
    <!--<div>-->
    <!--<table>-->
    <!--<thead>-->
    <!--<th>Country</th>-->
    <!--<th>Fifa_code</th>-->
    <!--<th>Group_id</th>-->
    <!--<th>Games Played</th>-->
    <!--<th>Wins</th>-->
    <!--<th>Lose</th>-->
    <!--<th>Points</th>-->
    <!--<th>goals_for</th>-->
    <!--<th>goals_against</th>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="data in scores">-->
    <!--<td>{{data.country}}</td>-->
    <!--<td>{{data.fifa_code}}</td>-->
    <!--<td>{{data.group_id}}</td>-->
    <!--<td>{{data.games_played}}</td>-->
    <!--<td>{{data.wins}}</td>-->
    <!--<td>{{data.losses}}</td>-->
    <!--<td>{{data.points}}</td>-->
    <!--<td>{{data.goals_for}}</td>-->
    <!--<td>{{data.goals_against}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->

</div>