<div id="carousel"></div>
<hr>
<div style="padding: 10px;padding-top: 0px;">
    <div ng-show="">
        <input type="radio" ng-model="dataValue" value="A" ng-change="dataValueChanged()">All Results
    </div>
    <div ng-show="">
        <input type="radio" ng-model="dataValue" value="B" ng-change="dataValueChanged()">All Matches
    </div>
    <div ng-show="">
        <input type="radio" ng-model="dataValue" value="C" ng-change="dataValueChanged()">Team Result
    </div>
    <div ng-show="">
        <input type="radio" ng-model="dataValue" value="D" ng-change="dataValueChanged()">Group Results
    </div>
    <div ng-show="">
        <input type="radio" ng-model="dataValue" value="E" ng-change="dataValueChanged()">Teams
    </div>
</div>
